<h1>Bands</h1>

<hr noshade>

<form action="bands" method="post">
  <input type="text" name="name" placeholder = "Slowburners">
  <button type="submit" class="btn btn-danger">Add Band</button>
</form>

<br >

<ul>
<h6>To assign venues, click on the band name.</h6>
  <% if @bands.any?() %>
  <% @bands.each() do |band| %>
    <li><h5><a href="/bands/<%= band.id() %>"><span class="clickable"><%= band.name() %></span></h5></a></li>
  <% end %>
  <% else %>
    <%= "The Bands log is empty." %>
  <% end %>
</ul>
